# Backend
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/.pytest_cache/
backend/*.egg-info/

# Mobile
mobile/node_modules/
mobile/.expo/
mobile/dist/
mobile/web-build/

# Entornos
.env
*.env.production

# Sistema
.DS_Store
